@model IEnumerable<cs4540_final_project.Models.WorkerComment>

@{
    ViewData["Title"] = "Comments Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/comments.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<!-- Comments container-->
<div class="comment-section">
    <!-- Title -->
    <div class="comment-header">
        <br />
        <br />
        <h1>Comments Index</h1>
        @{
            var workers = (List<Worker>)ViewData["workers"];
        }
        <p>
            <a asp-action="Create">Create New</a>
        </p>

        <div class="comments card-group">
            @foreach (var item in Model)
            {
                <!-- Comment card-->
                <div class="comments-container">
                    <div class="profile-name">
                        @item.Name
                    </div>
                    <div class="rating">
                        @{
                            int rating = item.StarRating;
                            switch (rating)
                            {
                                case 1:
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    break;
                                case 2:
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    break;
                                case 3:
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    break;
                                case 4:
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    break;
                                case 5:
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    break;
                                default:
                                    if (rating >= 5)
                                    {
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                    }
                                    else
                                    {
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                        <span class="fa fa-star"></span>
                                    }
                                    break;
                            }
                        }
                    </div>
                    <div class="comment">
                        <p>@item.Comment</p>
                    </div>
                    <div class="last-updated">
                        <p>Last updated: @item.LastUpdated</p>
                    </div>
                    <div class="buttons">
                        @if (User.IsInRole("Admin") || User.Identity.Name == item.Name)
                        {
                            <a class="btn" asp-action="Edit" asp-controller="WorkerComments" asp-route-id="@item.WorkerCommentID">Edit</a>
                            <a class="btn" asp-action="Delete" asp-route-id="@item.WorkerCommentID">Delete</a>
                        }
                    </div>
                </div>
            }
        </div>

    </div>
</div>