<!--
    CS 4540 Web Software Architecture
    Displays User roles for Admin.
    Author: Kevin Nguyen
    Date: 10-18-2019
-->
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> RoleManager

<h1 class="page-header">
    Administration
</h1>
<br />

<div class="mw-100">
    <table class="table table-striped">
        <thead class="thead-default">
            <tr>
                <th>
                    <h2>Users</h2>
                </th>
                <th>
                    <h2>Admin</h2>
                </th>
                <th>
                    <h2>Barber</h2>
                </th>
                <th>
                    <h2>Customer</h2>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (IdentityUser item in UserManager.Users.OrderBy(o => o.UserName))
            {
                string Email = @item.UserName;

                System.Text.RegularExpressions.Regex rgx = new System.Text.RegularExpressions.Regex("[^a-zA-Z0-9]");
                string nameCB = rgx.Replace(Email, "");

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    @{
                        String TempNameCB = nameCB + "Admin";
                    }
                    <td>
                        @if (await UserManager.IsInRoleAsync(item, "Admin"))
                        {
                            <div class="custom-control custom-switch">
                                <input checked onclick="change_role(this, '@TempNameCB', '@Email', 'Admin')" class="custom-control-input" type="checkbox" data-toggle="toggle" name="@TempNameCB'" id="@TempNameCB">
                                <label class="custom-control-label" for="@TempNameCB"></label>
                            </div>
                        }
                        else
                        {
                            <div class="custom-control custom-switch">
                                <input onclick="change_role(this, '@TempNameCB', '@Email', 'Admin')" class="custom-control-input" type="checkbox" data-toggle="toggle" name="@TempNameCB'" id="@TempNameCB">
                                <label class="custom-control-label" for="@TempNameCB"></label>
                            </div>
                        }
                    </td>

                    @{
                        TempNameCB = nameCB + "Barber";
                    }
                    <td>
                        @if (await UserManager.IsInRoleAsync(item, "Barber"))
                        {
                            <div class="custom-control custom-switch">
                                <input checked onclick="change_role(this, '@TempNameCB', '@Email', 'Chair' )" class="custom-control-input" type="checkbox" name="@TempNameCB'" id="@TempNameCB">
                                <label class="custom-control-label" for="@TempNameCB"></label>
                            </div>
                        }
                        else
                        {
                            <div class="custom-control custom-switch">
                                <input onclick="change_role(this, '@TempNameCB', '@Email', 'Chair' )" class="custom-control-input" type="checkbox" name="@TempNameCB'" id="@TempNameCB">
                                <label class="custom-control-label" for="@TempNameCB"></label>
                            </div>
                        }

                    </td>
                    @{
                        TempNameCB = nameCB + "Customer";
                    }
                    <td>
                        @if (await UserManager.IsInRoleAsync(item, "Customer"))
                        {
                            <div class="custom-control custom-switch">
                                <input checked onclick="change_role(this, '@TempNameCB', '@Email', 'Instructor')" class="custom-control-input" type="checkbox" name="@TempNameCB" id="@TempNameCB">
                                <label class="custom-control-label" for="@TempNameCB"></label>
                            </div>
                        }
                        else
                        {
                            <div class="custom-control custom-switch">
                                <input onclick="change_role(this, '@TempNameCB', '@Email', 'Instructor')" class="custom-control-input" type="checkbox" name="@TempNameCB" id="@TempNameCB">
                                <label class="custom-control-label" for="@TempNameCB"></label>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts
{
    <script src="~/js/admin.js"></script>
}