
 @** CS 4540 Web Software Architecture
 * Database Initializer
 * Authors: Tanner Livingston
 * Date: 12-6-2019
 *@


@model cs4540_final_project.Models.Worker
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/details.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" />
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

<!-- Intro section -->
<div class="intro-section">
    <div class="intro-text">
        <h1>@Html.DisplayFor(model => model.Name)</h1>
        <h3>@Html.DisplayNameFor(model => model.Job): @Html.DisplayFor(model => model.Job)</h3>
        <h3>@Html.DisplayNameFor(model => model.Services): @Html.DisplayFor(model => model.Services)</h3>
        <h3> @Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h3>

        @if (User.IsInRole("Admin") || User.IsInRole("Worker"))
        {
            <a class="button-link book-now-btn" asp-action="Edit" asp-route-id="@Model.ID">Edit</a>
        }
        <a class="button-link book-now-btn" asp-controller="Workers" asp-action="Book" asp-route-id="@Model.ID">Book Now</a>
        <a class="button-link book-now-btn" asp-controller="WorkerComments" asp-action="ShowComments" asp-route-id="@Model.ID">View Comments</a>
        <a class="button-link book-now-btn" asp-controller="WorkerComments" asp-action="ClientCreate" asp-route-id="@Model.ID">Write a Comment</a>

    </div>
</div>

